{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/css/thread.css' %}" />

<title>Обсуждение</title>
{% endblock %}

{% block precontent %}
<input type="hidden" id="thread_id" value="{{ thread.id  }}">
<input type="hidden" id="page_num" value="{{ page_num  }}">


<h2>Категория {{thread.category.title}}</h2>
<h3> Обсуждениe {{thread.title}} </h3>
{% endblock %}

{% block content %}

<ul class="list-group" id="messages_list">
</ul>

{% if user.is_authenticated %}
  <form action="{% url 'send_message' thread.id %}" method="post">
    {% csrf_token %}
    <textarea name="message" cols="100" rows="10">

    </textarea>
    <br>
    <input type="submit" class="button" value="Отправить">
  </form>
{% endif %}
{% endblock %}


{% block scripts %}
<script src="{% static 'forum/js/load_messages.js' %}"></script>
{% endblock %}
