{% load staticfiles %}

<!DOCTYPE html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Django simple forum">

<link rel="stylesheet" type="text/css" href="{% static 'forum/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'forum/css/navbar.css' %}" />

{% block head %}
{% endblock %}
</head>


<body>
<div class="container">

    <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Форум</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              {% if not user.is_anonymous %}
                <li><a href="#">{{ user }}</a></li>
                <li><a href="{% url 'index' %}">Выйти</a></li>
              {% else %}
                <li><a href="{% url 'index' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'index' %}">Войти</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

  {% block precontent %}
  {% endblock %}
  
  {% block content %}
  {% endblock %}

</div>

<script src="{% static 'forum/js/bootstrap.min.js' %}"></script>

</body>