{% extends "base.html" %}

{% block head %}
<title>Simple django forum</title>
{% endblock %}

{% block precontent %}
<h2>Категории:</h2>
<br>
{% endblock %}

{% block content %}  
  <table class="table table-striped">
  <tbody>
      {% for category in categories %}
        <tr>
          <td class="col-md-1"><img src={{ category.logo.url }} /></td>
          <td><a href="{% url 'category' category.id %}">{{ category.title }}</a></td>
        </tr>
      {% endfor %}
  </tbody>
  </table>
{% endblock %}
