body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  background-color: #eee;
  width: 500px;
  height: 350px;
  position: absolute;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.container_2 {
  background-color: #eee;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid grey;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
